{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="header header-fullwidth header-style-1">
    <div class="header-outer">
        <div class="header-inner fixed-header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-6">
                        <!-- Main Navigation Start Here -->
                        {% component 'header.menu' %}
                        <!-- Main Navigation End Here -->
                    </div>
                    <div class="col-lg-2 col-md-3 col-4 text-lg-center">
                        <!-- Logo Start Here -->
                        <a class="logo-box" href="{{ store.url }}">
                            <figure class="logo--normal">
                                <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }}">
                            </figure>
                            <figure class="logo--transparency">
                                <img src="assets/img/logo/logo-white.png" alt="Logo" />
                            </figure>
                            {% if is_page('index') %}
                              <h1 class="sr-only">{{ store.name }}</h1>
                            {% else %}
                              <h2 class="sr-only">{{ store.name }}</h2>
                            {% endif %}
                        </a>
                        <!-- Logo End Here -->
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-9 col-8">
                        <ul class="header-toolbar text-end">
                            <li class="header-toolbar__item d-none d-lg-block">
                                <a href="#sideNav" class="toolbar-btn">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item user-info-menu-btn">
                                <a href="#">
                                    <i class="fa fa-user-circle-o"></i>
                                </a>
                                <ul class="user-info-menu">
                                    <li>
                                        <a href="my-account.html">My Account</a>
                                    </li>
                                    <li>
                                        <a href="cart.html">Shopping Cart</a>
                                    </li>
                                    <li>
                                        <a href="checkout.html">Check Out</a>
                                    </li>
                                    <li>
                                        <a href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li>
                                        <a href="order-tracking.html">Order tracking</a>
                                    </li>
                                    <li>
                                        <a href="compare.html">compare</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#miniCart" class="mini-cart-btn toolbar-btn">
                                    <i class="fa fa-shopping-bag"></i>
                                    <sup class="mini-cart-count">2</sup>
                                </a>
                            </li>
                            <li class="header-toolbar__item">
                                <a href="#searchForm" class="search-btn toolbar-btn">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            <li class="header-toolbar__item d-lg-none">
                                <a href="#" class="menu-btn"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-sticky-header-height"></div>
    </div>
</header>

<div class="searchform__popup" id="searchForm">
    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
    <div class="searchform__body">

        <p>Start typing and press Enter to search</p>
        <form class="searchform">
            {# <input type="text" name="search" id="search" class="searchform__input"
                placeholder="Search Entire Store..."> #}
                <salla-search inline="true" height="50"></salla-search>
                <span class="sm:hidden px-2 opacity-50">{{ trans('blocks.header.searchProducts') }}</span>
            <button onclick="salla.event.dispatch('search::open')" class="searchform__submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<!--
<header class="store-header d-none">
    {# Top Nav #}
    <div class="top-navbar">
        <div class="container flex justify-between">
            <div class="flex-1 flex items-center rtl:space-x-reverse space-x-2">
              {# Footer Menu #}
              {% component 'footer.menu' with {is_header:true} %}

                <div class="header-buttons">
                    {# Language & Currency Component #}
                    {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
                        <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0">
                            <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm"></span>
                            <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
                        </button>
                        <salla-localization-modal></salla-localization-modal>
                    {% endif %}
                </div>

                {# Scopes | Branches #}
                {% if store.scope %}
                    <button class="btn--rounded-gray"
                            onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
                        <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
                    </button>
                {% endif %}

                {# Search Component #}
                {# <button onclick="salla.event.dispatch('search::open')" class="btn--circle-gray search-btn">
                <span class="sicon-search"></span>
                <span class="sm:hidden px-2 opacity-50">{{ trans('blocks.header.searchProducts') }}</span>
              </button> #}
              <div class="header-search flex-1">
                <salla-search inline oval height="36"></salla-search>
              </div>
            </div>

            {% component 'footer.contacts' with {is_header:true} %}
        </div>
    </div>

    {# Main Nav #}
    <div id="mainnav" class="main-nav-container shadow-default bg-white">
        <div class="inner bg-inherit">
            <div class="container">
                <div class="flex items-stretch justify-between relative">
                    <div class="flex items-center">
                        <a class="lg:hidden mburger mburger--collapse leading-none" href="#mobile-menu">
                            <i class="sicon-menu text-primary text-2xl rtl:ml-2.5 ltr:mr-2.5"></i>
                        </a>
                        <a class="navbar-brand" href="{{ store.url }}">
                            <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }}">
                            {% if is_page('index') %}
                              <h1 class="sr-only">{{ store.name }}</h1>
                            {% else %}
                              <h2 class="sr-only">{{ store.name }}</h2>
                            {% endif %}
                        </a>
                        {% component 'header.menu' %}
                    </div>
                    <div class="flex items-center justify-end">
                        {% if user.type=='user' %}
                          <salla-user-menu avatar-only show-header></salla-user-menu>
                        {% else %}
                            <button class="header-btn" onclick="salla.event.dispatch('login::open')">
                              <i class="header-btn__icon sicon-user-circle"></i>
                            </button>
                        {% endif %}
                        <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
                          <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
                        </salla-cart-summary>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
-->

{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
